{% extends 'base.html' %}

{% block title %}Edit a Post{% endblock title %}

{% block content %}
<h1>Edit a Post</h1>
<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Post Title</span>
    <input type="text" class="form-control" aria-label="Edit Post Title input" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Body</span>
    <input type="text" class="form-control" aria-label="Edit Post body input" aria-describedby="inputGroup-sizing-default">
</div>
{% endblock content %}