{% extends 'base.html' %}

{% block title %}Posts Page{% endblock title %}

{% block content %}
<h1>Posts Page</h1>
{% for my_item in my_collection %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">post title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">View Post</a>
    </div>
</div>
{% endfor %}
{% endblock content %}